.home-container{
    margin: 50px;
}

.total-count-container{
    margin-bottom: 20px;
}

.total-count-container label{
    background-color: #e7e7e7;
    color: black;
    padding: 8px;
    font-family: Arial;
}